.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 80px; */
  margin: 80px auto 0;
  max-width: 608px;
}

.search-form__title {
  font-family: var(--ff-roboto-slab);
  color: var(--clr-white);
  font-size: 60px;
  line-height: 1.067;
  max-width: 608px;
}

.search-form__subtitle {
  margin-top: 32px;
  font-size: 18px;
  color: var(--clr-white);
  font-weight: 400;
}
.search-form__form {
  margin-top: 88px;
  width: 100%;
  height: 64px;
  display: flex;
  position: relative;
}
.search-form__input {
  font-family: var(--ff-inter);
  font-size: 16px;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  padding-left: 24px;
  border: none;
  outline: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-form__button {
  font-size: 18px;
  font-weight: 500;
  height: 100%;
  background-color: var(--clr-blue);
  color: var(--clr-white);
  border-radius: 100px;
  width: 168px;
  align-self: flex-end;
  /* margin-left: -160px; */
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.search-form__button:hover {
  background-color: var(--clr-blue-hover);
}

.search-form__button:active {
  background-color: var(--clr-blue-active);
}

@media screen and (max-width: 768px) {
  .search-form {
    margin: 38px auto 0;
    max-width: 448px;
    align-items: flex-start;
    justify-content: center;
  }

  .search-form__title {
    font-family: var(--ff-roboto-slab);
    color: var(--clr-white);
    font-size: 36px;
    line-height: 1.1;
    max-width: 385px;
  }

  .search-form__subtitle {
    margin-top: 16px;
    font-size: 18px;
    max-width: 452px;
  }

  .search-form__form {
    margin-top: 48px;
    height: 56px;
  }

  .search-form__input {
    max-width: 448px;
    height: 100%;
    border-radius: 100px;
  }

  .search-form__button {
    width: 160px;
  }
}

@media screen and (max-width: 425px) {
  .search-form {
    margin: 30px auto 0;
    width: calc(100% - 16px * 2);
  }

  .search-form__form {
    margin-top: 122px;
  }

  .search-form__input {
    height: 100%;
  }

  .search-form__button {
    width: 100%;
    top: 72px;
  }
}
